# Environment
.env
.env.local
.env.*.local
.env.*

# Rails
log/
tmp/
storage/
public/assets/
public/vite/
public/vite-dev/
public/vite-test/
config/master.key
config/credentials/*.key

# Ruby
.bundle/
vendor/bundle/
*.gem

# Node
node_modules/
bun.lockb

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# SAMPLE
sample/
CLAUDE_CODE_CONTEXT.md
CLAUDE.md
CLAUDE_CODE_CONTEXT.md
CLAUDE.md
ECOSYSTEM_CONTEXT.md
